{% extends 'itsBooking/base.html' %}
{% load helpers %}

{% block body %}

    <div class="uk-container uk-container-medium">

        <h2>{{ course.course_code }} - {{ course.title }}</h2>

        {% include 'generic/display_messages.html' %}
        {% include 'generic/display_form_errors.html' %}

    {% if request.user|in_group:'students' %}
        <a href="{% url 'upload_exercise' slug=course.slug %}">
            <h4>Last opp øving</h4>
        </a>
        <a href="{% url 'student_exercise_uploads_list' slug=course.slug %}">
            <h4>Opplastede innleveringer</h4>
        </a>
        {% include 'booking/reservation_input.html' %}
    {% elif request.user|in_group:'course_coordinators' %}
        <a href="{% url 'exercise_uploads_list' slug=course.slug %}">
            <h4>Se opplastede øvinger</h4>
        </a>
        <ul class="uk-subnav uk-subnav-pill" uk-switcher>
            <li><a href="#">Oversikt</a></li>
            <li><a href="#">Sett ant. studasser</a></li>
            <li><a href="#">Oppmeldte studasser</a></li>
            <li><a href="#">Oppmeldte studenter</a></li>
        </ul>

        <ul class="uk-switcher uk-margin">
            <li>{% include 'booking/table/cc_overview.html' %}</li>
            <li>{% include 'booking/table/set_studentassistants.html' %}</li>
            <li>{% include 'booking/table/cc_studass_overview.html' %}</li>
            <li>{% include 'booking/table/cc_student_overview.html' %}</li>
        </ul>
    {% elif request.user|in_group:'assistants' %}
        <a href="{% url 'exercise_uploads_list' slug=course.slug %}">
            <h4>Se opplastede øvinger</h4>
        </a>
        {% include 'booking/table/assistant.html' %}
    {% endif %}
</div>

{% endblock %}