<button class="uk-button-primary uk-width-small table_button" type="button"
        id="{{ course.course_code }}-{{ interval.start }}-{{ reservation_interval.index }}"
{% if not reservations.2 %}
    disabled>Stengt
{% elif reservations.0 > 0 %}
    uk-toggle="target: #reservation_modal" style="cursor: pointer;" onclick="set_reservation(this)">
        {{ reservations.0 }}/{{ reservations.1 }} ledig
{% else %}
     disabled>
        {{ reservations.0 }}/{{ reservations.1 }} ledig
{% endif %}
</button>


<div id="reservation_modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Reserver</h2>
        </div>
        <div class="uk-modal-body uk-text-center">
            <p>Er du sikker på at vil reservere tid hos studass for intervallet:</p>
            <h5>MANDAG</h5>
            <h5 class="uk-margin-remove-top">08:15 - 08:30</h5>
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Avbryt</button>
            <button class="uk-button uk-button-primary" type="button">Bekreft</button>
        </div>
    </div>
</div>