{% extends 'itsBooking/base.html' %}
{% load helpers %}

{% block body %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <table class="uk-table uk-table-striped uk-table-small uk-table-middle">
        <thead>
            <tr>
                <th></th>
                {% for day in weekdays %}
                    <th>{{ day|nob_day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for interval in intervals %}
                <tr>
                    <td>{{ interval.start }} - {{ interval.stop }}</td>
                    {% for booking_interval in interval.objects %}
                        <td>
                            {% if user|in_group:"course_coordinators" %}
                                <input type="number" name="min num of assistants"
                                id="{{ booking_interval.nk }}" min="0" step="1"
                                value="{{ booking_interval.min_available_assistants }}"
                                class="uk-form-width-xsmall uk-input uk-form-blank"
                                onchange="update_min_assistants(this, this.id, this.value);">
                            {% else %}

                                <input type="button" name="add assistants" id="{{ booking_interval.nk }}"
                                onclick="make_assistants_available(this, this.id);" {% if booking_interval.min_available_assistants == 0 %} disabled {% endif %}
                                {% if request.user in booking_interval.assistants.all %}
                                value="Meld av"
                                class="uk-button uk-button-primary uk-button-small uk-width-1-1 uk-width-expand"
                                {% else %}
                                   {% if booking_interval.min_available_assistants <= booking_interval.assistants.all.count %}
                                    value="Meld opp"
                                    class="uk-button uk-button-danger uk-button-small uk-width-1-1 uk-width-expand"
                                   {% else %}
                                    value="Meld opp"
                                    class="uk-button uk-button-default uk-button-small uk-width-1-1 uk-width-expand"
                                   {% endif %}
                                {% endif %}>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<script>
function update_min_assistants(element, id, num) {

    if (num < element.min || Math.floor(num) != num) {
        element.value = 0;
        // element.setCustomValidity('FY!')
    }

    console.log(id + ' : ' + num)
    $.ajax({
        url: '{% url 'update_min_num_assistants' %}',
        data: {
            'nk': id,
            'num': num,
        },
        dataType: 'json',
    })

}

function make_assistants_available(element, id) {

    $.ajax({
        url: '{% url 'make_assistants_available' %}',
        data: {
            'nk': id,
        },
        dataType: 'json',
        success: function(data) {
            if(data.make_available){
                make_available(id);
            } else {
                make_not_available(id);
            }
        }
    })

}

function make_available(id){
    document.getElementById(id).setAttribute('value','Meld opp');
    document.getElementById(id).setAttribute('class','uk-button uk-button-default uk-button-small uk-width-1-1 uk-width-expand');
}

function make_not_available(id){
    document.getElementById(id).setAttribute('value','Meld av');
    document.getElementById(id).setAttribute('class','uk-button uk-button-primary uk-button-small uk-width-1-1 uk-width-expand')
}

</script>

{% endblock body %}