{% extends 'itsBooking/base.html' %} {% load crispy_forms_tags %} {% block body %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
    <table class="uk-table uk-table-striped uk-table-small uk-table uk-table-middle">
        <tbody>
            <tr>
                <td></td>
                <td>Mandag</td>
                <td>Tirsdag</td>
                <td>Onsdag</td>
                <td>Torsdag</td>
                <td>Fredag</td>
            </tr>
            <tr>
                <td>08:15 - 10:00</td>
                <td>
                    <form method="POST" enctype='multipart/form-data'>
                        {% csrf_token %} {{ form|crispy }}
                        <button type="submit">Submit</button>

                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>10:15 - 12:00</td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>12:15 - 14:00</td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>14:15 - 16:00</td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>

            </tr>
            <tr>
                <td>16:15 - 18:00</td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
                <td>
                    <form action="#">
                        <select name="mo8-10">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}