{% extends 'itsBooking/base.html' %}

{% block body %}
<div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">>
    <table class="uk-table uk-table-striped uk-table-small uk-table-middle">
        <thead>
            <tr>
                <th></th>
                <th>Mandag</th>
                <th>Tirsdag</th>
                <th>Onsdag</th>
                <th>Torsdag</th>
                <th>Fredag</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08:00 - 10:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>10:00 - 12:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>14:00 - 16:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>16:00 - 18:00</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}