<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hei</title>
    <p>Sal er åpen {{ total_opening_time }} timer i uken</p>
    <p>{{ registered_assistants_count }} / {{ course.assistants.all.count }} studentassistenter har meldt seg opp</p>
    <p>{{ booked_ri_count}} / {{ available_rintervals_count }} av reservasjonsintervallene er reservert av studenter </p>
    <p>{{ full_bi_count }} / {{ available_bintervals_count }} av bookingintervallene har maks antall studentassistenter </p>


</head>
<body>

</body>
</html>