{% load static %}

<nav class="uk-navbar-container uk-margin">
    <div class="uk-container uk-container-small">
        <div class="uk-navbar">
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <a href="{% url 'home' %}">
                        <img src="{% static "itsbooking.png" %}" width="150px" />
                    </a>
                </div>
                <ul class="uk-navbar-nav">
                    <li><a href="{% url 'populate' %}">Populate DB</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>