{% extends 'itsBooking/base.html' %}
{% load helpers %}
{% load static %}


{% block header %}
<nav class="uk-navbar-container uk-margin">
    <div class="uk-container uk-container-small">
        <div class="uk-navbar">
            <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                    <img src="{% static "itsbooking.png" %}" width="150px" />
                </div>
                <ul class="uk-navbar-nav">
                    <li><a href="{% url 'populate' %}">Populate DB</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href=""></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{% block body %}
<div class="uk-container uk-container-small">
    {% include 'generic/display_success_messages.html' %}

    <div class="uk-margin">
    {% if user|in_group:"students" %}
        {% include 'booking/course_list.html' with courses=user.enrolled_courses.all %}
    {% elif user|in_group:"assistants" %}
        {% include 'booking/course_list.html' with courses=user.assisting_courses.all %}
    {% elif user|in_group:"course_coordinators" %}
        {% include 'booking/course_list.html' with course=user.course %}
    {% endif %}
    </div>
</div>
{% endblock %}