{% extends 'itsBooking/base.html' %}
{% load helpers %}

{% block body %}
<div class="uk-container uk-container-small">
    <h1 class="uk-heading-primary">Welcome!</h1>
    <a class="uk-button uk-button-default uk-button-small" href="{% url 'populate' %}">Populate DB</a>
    {% if user.is_authenticated %}
        <a class="uk-button uk-button-default uk-button-small" href="{% url 'logout' %}">Logout</a>
    {% endif %}
    {% include 'generic/display_success_messages.html' %}

    <div class="uk-margin">
    {% if user|in_group:"students" %}
        {% include 'booking/course_list.html' with courses=user.enrolled_courses.all %}
    {% elif user|in_group:"assistants" %}
        {% include 'booking/course_list.html' with courses=user.assisting_courses.all %}
    {% elif user|in_group:"course_coordinators" %}
        {% include 'booking/course_list.html' with course=user.course %}
    {% endif %}
    </div>
</div>
{% endblock %}