{% extends 'itsBooking/base.html' %}
{% load static %}
{% block body %}
    <div class="uk-container uk-container-small">
        <ul uk-accordion>
            <li class="uk-closed">
                <a class="uk-accordion-title" href="#">Nytt innlegg</a>
                <div class="uk-accordion-content">
                    <form method="POST" id="{{ announcement.pk }}-form">
                        {% csrf_token %}
                        <fieldset class="uk-fieldset">

                            <div class="uk-margin">
                                {{ form }}
                            </div>

                            <input type="submit" value="Send" class="uk-button uk-button-primary">
                        </fieldset>
                    </form>
                </div>
            </li>
        </ul>

        {% for announcement in announcement_list %}
            {% include 'communications/announcement_cards.html' %}
        {% endfor %}
    </div>

{% endblock %}